body{
    background-color: rgb(19, 222, 154);
}

header {
    margin: solid;
    border: 3px solid;
    border-radius: 20px;
    height: 100px;
    width: 700px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}